<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="..."/>
  </connectionStrings>
  <appSettings>
    <add key="RedisUrl" value="https://localhost:6379/"/>
    <add key="ApiUrl" value="https://localhost:8081/"/>
  </appSettings>
</configuration>